// 颜色
$accentColor = #f3bebf
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

//示例修改相关样式f12找到需要修改的地方找到对应class类拿过来直接用就行了
//.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
//  opacity :1
//}